/* prettier-ignore */
$text-color-grey-on-white-base:    mix(black, $color-grey-500, 70%);
$text-color-grey-on-grey-050-base: mix(black, $color-grey-500, 75%);
$text-color-grey-on-grey-100-base: mix(black, $color-grey-500, 80%);
$text-color-grey-on-grey-200-base: mix(black, $color-grey-500, 85%);
$text-color-grey-on-grey-300-base: mix(black, $color-grey-500, 90%);
$text-color-grey-on-grey-400-base: mix(black, $color-grey-500, 100%);
$text-color-grey-on-grey-500-base: mix(white, $color-grey-500, 100%);
$text-color-grey-on-grey-600-base: mix(white, $color-grey-500, 100%);
$text-color-grey-on-grey-700-base: mix(white, $color-grey-500, 100%);
$text-color-grey-on-grey-800-base: mix(white, $color-grey-500, 100%);
$text-color-grey-on-grey-900-base: mix(white, $color-grey-500, 90%);

/* prettier-ignore */
.light-theme {
  // white
  --text-color-grey-regular-on-white:                 #{mix($text-color-grey-on-white-base, $color-grey-050,    100%)};
  --text-color-grey-subdued-on-white:                 #{mix($text-color-grey-on-white-base, $color-grey-050,    59.85%)};
  --text-color-grey-dangerously-subdued-on-white:     #{mix($text-color-grey-on-white-base, $color-grey-050,    45%)};
  // 050
  --text-color-grey-regular-on-grey-050:              #{mix($text-color-grey-on-grey-050-base,$color-grey-050,  100%)};
  --text-color-grey-subdued-on-grey-050:              #{mix($text-color-grey-on-grey-050-base,$color-grey-050,  61.3%)};
  --text-color-grey-dangerously-subdued-on-grey-050:  #{mix($text-color-grey-on-grey-050-base,$color-grey-050,  47%)};
  // 100
  --text-color-grey-regular-on-grey-100:              #{mix($text-color-grey-on-grey-100-base,$color-grey-100,  100%)};
  // --text-color-grey-subdued-on-grey-100:              #{mix($text-color-grey-on-grey-100-base,$color-grey-100,  70%)};
  --text-color-grey-dangerously-subdued-on-grey-100:  #{mix($text-color-grey-on-grey-100-base,$color-grey-100,  50%)};
  // 200
  --text-color-grey-regular-on-grey-200:              #{mix($text-color-grey-on-grey-200-base,$color-grey-200,  100%)};
  // --text-color-grey-subdued-on-grey-200:              #{mix($text-color-grey-on-grey-200-base,$color-grey-200,  70%)};
  --text-color-grey-dangerously-subdued-on-grey-200:  #{mix($text-color-grey-on-grey-200-base,$color-grey-200,  50%)};
  // 300
  --text-color-grey-regular-on-grey-300:              #{mix($text-color-grey-on-grey-300-base,$color-grey-300,  100%)};
  // --text-color-grey-subdued-on-grey-300:              #{mix($text-color-grey-on-grey-300-base,$color-grey-300,  70%)};
  --text-color-grey-dangerously-subdued-on-grey-300:  #{mix($text-color-grey-on-grey-300-base,$color-grey-300,  50%)};
  // 400
  --text-color-grey-regular-on-grey-400:              #{mix($text-color-grey-on-grey-400-base,$color-grey-400,  100%)};
  // --text-color-grey-subdued-on-grey-400:              #{mix($text-color-grey-on-grey-400-base,$color-grey-400,  70%)};
  --text-color-grey-dangerously-subdued-on-grey-400:  #{mix($text-color-grey-on-grey-400-base,$color-grey-400,  52%)};
  // 500
  --text-color-grey-regular-on-grey-500:              #{mix($text-color-grey-on-grey-500-base,$color-grey-500,  100%)};
  // --text-color-grey-subdued-on-grey-500:              #{mix($text-color-grey-on-grey-500-base,$color-grey-500,  70%)};
  --text-color-grey-dangerously-subdued-on-grey-500:  #{mix($text-color-grey-on-grey-500-base,$color-grey-500,  63%)};
  // 600
  --text-color-grey-regular-on-grey-600:              #{mix($text-color-grey-on-grey-600-base,$color-grey-600,  100%)};
  --text-color-grey-subdued-on-grey-600:              #{mix($text-color-grey-on-grey-600-base,$color-grey-600,  69%)};
  --text-color-grey-dangerously-subdued-on-grey-600:  #{mix($text-color-grey-on-grey-600-base,$color-grey-600,  47%)};
  // 700
  --text-color-grey-regular-on-grey-700:              #{mix($text-color-grey-on-grey-700-base,$color-grey-700,  100%)};
  --text-color-grey-subdued-on-grey-700:              #{mix($text-color-grey-on-grey-700-base,$color-grey-700,  68%)};
  --text-color-grey-dangerously-subdued-on-grey-700:  #{mix($text-color-grey-on-grey-700-base,$color-grey-700,  45%)};
  // 800
  --text-color-grey-regular-on-grey-800:              #{mix($text-color-grey-on-grey-800-base,$color-grey-800,  100%)};
  --text-color-grey-subdued-on-grey-800:              #{mix($text-color-grey-on-grey-800-base,$color-grey-800,  60%)};
  --text-color-grey-dangerously-subdued-on-grey-800:  #{mix($text-color-grey-on-grey-800-base,$color-grey-800,  39%)};
  // 900
  --text-color-grey-regular-on-grey-900:              #{mix($text-color-grey-on-grey-900-base,$color-grey-900,  100%)};
  --text-color-grey-subdued-on-grey-900:              #{mix($text-color-grey-on-grey-900-base,$color-grey-900,  51%)};
  --text-color-grey-dangerously-subdued-on-grey-900:  #{mix($text-color-grey-on-grey-900-base,$color-grey-900,  36%)};
}
