:root {
  --pixels-1: 0.0625rem;
  --pixels-2: 0.125rem;
  --pixels-3: 0.1875rem;
  --pixels-5: 0.3125rem;
  --pixels-8: 0.5rem;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-primary-050: #E6E6FF;
  --color-primary-100: #C4C6FF;
  --color-primary-200: #A2A5FC;
  --color-primary-300: #8888FC;
  --color-primary-400: #7069FA;
  --color-primary-500: #5D55FA;
  --color-primary-600: #4D3DF7;
  --color-primary-700: #3525E6;
  --color-primary-800: #1D0EBE;
  --color-primary-900: #0C008C;
  --color-primary: var(--color-primary-500);

  --color-secondary-050: #EFFCF6;
  --color-secondary-100: #C6F7E2;
  --color-secondary-200: #8EEDC7;
  --color-secondary-300: #65D6AD;
  --color-secondary-400: #3EBD93;
  --color-secondary-500: #27AB83;
  --color-secondary-600: #199473;
  --color-secondary-700: #147D64;
  --color-secondary-800: #0C6B58;
  --color-secondary-900: #014D40;
  --color-secondary: var(--color-secondary-500);

  // --color-neutral-050: #F0F4F8;
  // --color-neutral-100: #D9E2EC;
  // --color-neutral-200: #BCCCDC;
  // --color-neutral-300: #9FB3C8;
  // --color-neutral-400: #829AB1;
  // --color-neutral-500: #627D98;
  // --color-neutral-600: #486581;
  // --color-neutral-700: #334E68;
  // --color-neutral-800: #243B53;
  // --color-neutral-900: #102A43;


  --color-neutral-050: #f0f3f6;
  --color-neutral-100: #d9e0e7;
  --color-neutral-200: #b8c3cf;
  --color-neutral-300: #9eacbb;
  --color-neutral-400: #7d90a4;
  --color-neutral-500: #5c748d;
  --color-neutral-600: #3f5975;
  --color-neutral-700: #2d455d;
  --color-neutral-800: #22354a;
  --color-neutral-900: #11253b;

  --color-neutral-alpha-050: rgb(0, 46, 94, 0.06);
  --color-neutral-alpha-100: rgb(0, 47, 97, 0.15);
  --color-neutral-alpha-200: rgb(0, 41, 84, 0.28);
  --color-neutral-alpha-300: rgb(0, 37, 76, 0.38);
  --color-neutral-alpha-400: rgb(0, 37, 76, 0.51);
  --color-neutral-alpha-500: rgb(0, 37, 76, 0.64);
  --color-neutral-alpha-600: rgb(3, 37, 74, 0.76);
  --color-neutral-alpha-700: rgb(11, 38, 66, 0.86);
  --color-neutral-alpha-800: rgb(15, 36, 59, 0.92);
  --color-neutral-alpha-900: rgb(17, 37, 59, 0.1);

  
  --color-success-050: #E3F9E5;
  --color-success-100: #C1F2C7;
  --color-success-200: #91E697;
  --color-success-300: #51CA58;
  --color-success-400: #31B237;
  --color-success-500: #18981D;
  --color-success-600: #0F8613;
  --color-success-700: #0E7817;
  --color-success-800: #07600E;
  --color-success-900: #014807;
  --color-success: var(--color-success-500);

  --color-warning-050: #FFFBEA;
  --color-warning-100: #FFF3C4;
  --color-warning-200: #FCE588;
  --color-warning-300: #FADB5F;
  --color-warning-400: #F7C948;
  --color-warning-500: #F0B429;
  --color-warning-600: #DE911D;
  --color-warning-700: #CB6E17;
  --color-warning-800: #B44D12;
  --color-warning-900: #8D2B0B;
  --color-warning: var(--color-warning-500);

  --color-error-050: #FFE3E3;
  --color-error-100: #FFBDBD;
  --color-error-200: #FF9B9B;
  --color-error-300: #F86A6A;
  --color-error-400: #EF4E4E;
  --color-error-500: #E12D39;
  --color-error-600: #CF1124;
  --color-error-700: #AB091E;
  --color-error-800: #8A041A;
  --color-error-900: #610316;
  --color-error: var(--color-error-500);

  --spacing-200: 0.25rem;
  --spacing-300: 0.5rem;
  --spacing-400: 0.75rem;
  --spacing-500: 1rem;
  --spacing-600: 1.5rem;
  --spacing-700: 2rem;
  --spacing-800: 2.5rem;
  --spacing-900: 3rem;

  --border-width-default: 0.125rem;

  --border-radius-100: 0.125rem;
  --border-radius-200: 0.25rem;
  --border-radius-300: 0.5rem;
  --border-radius-400: 0.75rem;
  --border-radius-500: 1rem;
  --border-radius: var(--border-radius-300);
  --border-radius-round: 100rem;

  --font-size-50:  0.75rem;
  --font-size-100: 0.875rem;
  --font-size-150: 1rem;
  --font-size-200: 1.125rem;
  --font-size-250: 1.25rem;
  --font-size-300: 1.5rem;
  --font-size-350: 1.75rem;
  --font-size-400: 2rem;
  --font-size-450: 2.25rem;
  --font-size-500: 2.625rem;
  --font-size-550: 3rem;
  --font-size-600: 3.375rem;
  --font-size-650: 3.75rem;
  --font-size-700: 4.25rem;
  --font-size-750: 4.75rem;
  --font-size-800: 5.25rem;
  --font-size-850: 5.75rem;

  --box-shadow-100-dark:   0 1px  3px  rgba(0,0,0,0.12),      0 1px  2px  rgba(0,0,0,0.24);
  --box-shadow-100-focus:  0 1px  3px  rgba(93,85,250,.12),   0 1px  2px  rgba(93,85,250,0.24), 0 0 0 1px rgba(93,85,250,.6);
  --box-shadow-100:        0 0  3px  rgba(0,0,0,0.02),        0 1px  3px  rgba(0,0,0,0.04),      0 1px  2px  rgba(0,0,0,0.08);

  --box-shadow-200-dark:   0 3px  6px  rgba(0,0,0,0.16),      0 3px  6px  rgba(0,0,0,0.23);
  --box-shadow-200-focus:  0 3px  6px  rgba(93,85,250,0.16),  0 3px  6px  rgba(93,85,250,0.23), 0 0 0 1px rgba(93,85,250,.6);
  --box-shadow-200:        0 0  6px  rgba(0,0,0,0.02665),      0 3px  6px  rgba(0,0,0,0.0533),    0 3px  6px  rgba(0,0,0,0.0766);

  --box-shadow-300-dark:   0 10px 20px rgba(0,0,0,0.19),      0 6px  6px  rgba(0,0,0,0.23);
  --box-shadow-300-focus:  0 10px 20px rgba(93,85,250,0.19),  0 6px  6px  rgba(93,85,250,0.23), 0 0 0 1px rgba(93,85,250,.6);
  --box-shadow-300:        0 0 20px rgba(0,0,0,0.03165),       0 10px 20px rgba(0,0,0,0.0633),    0 6px  6px  rgba(0,0,0,0.0766);

  --box-shadow-400-dark:   0 14px 28px rgba(0,0,0,0.25),      0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-400-focus:  0 14px 28px rgba(93,85,250,0.25),  0 10px 10px rgba(93,85,250,0.22), 0 0 0 1px rgba(93,85,250,.6);
  --box-shadow-400:        0 0 28px rgba(0,0,0,0.04165),       0 14px 28px rgba(0,0,0,0.0833),    0 10px 10px rgba(0,0,0,0.0733);

  --box-shadow-500-dark:   0 19px 38px rgba(0,0,0,0.30),      0 15px 12px rgba(0,0,0,0.22);
  --box-shadow-500-focus:  0 19px 38px rgba(93,85,250,0.30),  0 15px 12px rgba(93,85,250,0.22), 0 0 0 1px rgba(93,85,250,.6);
  --box-shadow-500:        0 0 38px rgba(0,0,0,0.05),         0 19px 38px rgba(0,0,0,0.10),      0 15px 12px rgba(0,0,0,0.0733);

  --transition-100:          150ms cubic-bezier(.25,.8,.25,1);
  --transition-100-all:  all 150ms cubic-bezier(.25,.8,.25,1);
  --transition-200:          300ms cubic-bezier(.25,.8,.25,1);
  --transition-200-all:  all 300ms cubic-bezier(.25,.8,.25,1);

}


