:root {
  --pixels-1: 0.0625rem;
  --pixels-2: 0.125rem;
  --pixels-3: 0.1875rem;
  --pixels-5: 0.3125rem;
  --pixels-8: 0.5rem;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-050: #e6e6ff;
  --color-primary-100: #c4c6ff;
  --color-primary-200: #a2a5fc;
  --color-primary-300: #8888fc;
  --color-primary-400: #7069fa;
  --color-primary-500: #5d55fa;
  --color-primary-600: #4d3df7;
  --color-primary-700: #3525e6;
  --color-primary-800: #1d0ebe;
  --color-primary-900: #0c008c;
  --color-primary: var(--color-primary-500);

  --color-grey-050: hsl(210, 18%, 96%);
  --color-grey-100: hsl(212, 22%, 88%);
  --color-grey-200: hsl(210, 17%, 77%);
  --color-grey-300: hsl(209, 17%, 68%);
  --color-grey-400: hsl(208, 16%, 56%);
  --color-grey-500: hsl(211, 18%, 46%);
  --color-grey-600: hsl(211, 26%, 35%);
  --color-grey-700: hsl(212, 30%, 28%);
  --color-grey-800: hsl(210, 37%, 21%);
  --color-grey-900: hsl(209, 57%, 15%);
  --color-secondary: var(--color-secondary-500);

  --color-grey-050: #f3f5f7;
  --color-grey-100: #dae0e7;
  --color-grey-200: #bac4ce;
  --color-grey-300: #a0aebb;
  --color-grey-400: #7d90a1;
  --color-grey-500: #60758a;
  --color-grey-600: #425870;
  --color-grey-700: #32465d;
  --color-grey-800: #223649;
  --color-grey-900: #10273c;

  --color-grey-alpha-050: hsla(210, 100%, 18%, 0.06);
  --color-grey-alpha-100: hsla(210, 100%, 19%, 0.16);
  --color-grey-alpha-200: hsla(210, 100%, 16%, 0.3);
  --color-grey-alpha-300: hsla(210, 100%, 15%, 0.41);
  --color-grey-alpha-400: hsla(210, 100%, 15%, 0.55);
  --color-grey-alpha-500: hsla(210, 95%, 15%, 0.68);
  --color-grey-alpha-600: hsla(210, 86%, 15%, 0.8);
  --color-grey-alpha-700: hsla(210, 73%, 15%, 0.88);
  --color-grey-alpha-800: hsla(210, 60%, 15%, 0.94);
  --color-grey-alpha-900: hsla(210, 55%, 15%, 1);

  --color-success-050: #e3f9e5;
  --color-success-100: #c1f2c7;
  --color-success-200: #91e697;
  --color-success-300: #51ca58;
  --color-success-400: #31b237;
  --color-success-500: #18981d;
  --color-success-600: #0f8613;
  --color-success-700: #0e7817;
  --color-success-800: #07600e;
  --color-success-900: #014807;
  --color-success: var(--color-success-500);

  --color-warning-050: #fffbea;
  --color-warning-100: #fff3c4;
  --color-warning-200: #fce588;
  --color-warning-300: #fadb5f;
  --color-warning-400: #f7c948;
  --color-warning-500: #f0b429;
  --color-warning-600: #de911d;
  --color-warning-700: #cb6e17;
  --color-warning-800: #b44d12;
  --color-warning-900: #8d2b0b;
  --color-warning: var(--color-warning-500);

  --color-danger-050: #ffe3e3;
  --color-danger-100: #ffbdbd;
  --color-danger-200: #ff9b9b;
  --color-danger-300: #f86a6a;
  --color-danger-400: #ef4e4e;
  --color-danger-500: #e12d39;
  --color-danger-600: #cf1124;
  --color-danger-700: #ab091e;
  --color-danger-800: #8a041a;
  --color-danger-900: #610316;
  --color-danger: var(--color-danger-500);

  --border-width-thin: 0.0625rem;
  --border-width-default: 0.125rem;

  --border-radius-100: 0.125rem;
  --border-radius-200: 0.25rem;
  --border-radius-300: 0.5rem;
  --border-radius-400: 0.75rem;
  --border-radius-500: 1rem;
  --border-radius: var(--border-radius-300);
  --border-radius-round: 100rem;

  --font-size-50: 0.75rem;
  --font-size-100: 0.875rem;
  --font-size-150: 1rem;
  --font-size-200: 1.125rem;
  --font-size-250: 1.25rem;
  --font-size-300: 1.5rem;
  --font-size-350: 1.75rem;
  --font-size-400: 2rem;
  --font-size-450: 2.25rem;
  --font-size-500: 2.625rem;
  --font-size-550: 3rem;
  --font-size-600: 3.375rem;
  --font-size-650: 3.75rem;
  --font-size-700: 4.25rem;
  --font-size-750: 4.75rem;
  --font-size-800: 5.25rem;
  --font-size-850: 5.75rem;

  --box-shadow-100-dark: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-100-focus: 0 1px 3px rgba(93, 85, 250, 0.12),
    0 1px 2px rgba(93, 85, 250, 0.24), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-100: 0 0 3px rgba(0, 0, 0, 0.02), 0 1px 3px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.08);

  --box-shadow-200-dark: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-200-focus: 0 3px 6px rgba(93, 85, 250, 0.16),
    0 3px 6px rgba(93, 85, 250, 0.23), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-200: 0 0 6px rgba(0, 0, 0, 0.02665),
    0 3px 6px rgba(0, 0, 0, 0.0533), 0 3px 6px rgba(0, 0, 0, 0.0766);

  --box-shadow-300-dark: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-300-focus: 0 10px 20px rgba(93, 85, 250, 0.19),
    0 6px 6px rgba(93, 85, 250, 0.23), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-300: 0 0 20px rgba(0, 0, 0, 0.03165),
    0 10px 20px rgba(0, 0, 0, 0.0633), 0 6px 6px rgba(0, 0, 0, 0.0766);

  --box-shadow-400-dark: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --box-shadow-400-focus: 0 14px 28px rgba(93, 85, 250, 0.25),
    0 10px 10px rgba(93, 85, 250, 0.22), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-400: 0 0 28px rgba(0, 0, 0, 0.04165),
    0 14px 28px rgba(0, 0, 0, 0.0833), 0 10px 10px rgba(0, 0, 0, 0.0733);

  --box-shadow-500-dark: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  --box-shadow-500-focus: 0 19px 38px rgba(93, 85, 250, 0.3),
    0 15px 12px rgba(93, 85, 250, 0.22), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-500: 0 0 38px rgba(0, 0, 0, 0.05), 0 19px 38px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.0733);

  --transition-100: 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-100-all: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-200: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-200-all: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
