@import 'src/_vars';

.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-end {
  align-items: end;
}
.align-stretch {
  align-items: stretch;
}

