@import 'src/vars';

.Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  border: $border-width-default solid $color-primary;
  transition: $transition-150;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 0;
  height: 2rem;
  padding: 0;
  background-color: $color-white;
  color: $color-primary;
  cursor: pointer;
  &__text {
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;
    padding: 0 1em;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    // svg {
    //   width: .9rem;
    //   height: .9rem;
    // }
  }
  &:hover {
    border-color: $color-primary-600;
    color: $color-primary;
    box-shadow: $box-shadow-200;
    background-color: $color-primary-050;
  }
  &:active {
    outline: none;
    box-shadow: $box-shadow-400-focus;
  }
  &:focus {
    outline: none;
    box-shadow: $box-shadow-300-focus;
    &:active {
      box-shadow: $box-shadow-400-focus;
    }
  }
}

.Button--has-right-icon .Button {
  &__text {
    padding-right: 0;
  }
}

.Button--has-left-icon .Button {
  &__text {
    padding-left: 0;
  }
}

.Button--primary {
  background-color: $color-primary-500;
  border-color: $color-primary-500;
  color: $color-white;
  &:hover {
    background-color: $color-primary-600;
    border-color: $color-primary-600;
    color: $color-white;
  }
}

.Button--danger {
  background-color: $color-danger-500;
  border-color: $color-danger-500;
  color: $color-white;
  &:hover {
    background-color: $color-danger-600;
    border-color: $color-danger-600;
    color: $color-white;
  }
}

.Button--disabled {
  opacity: 0.25;
  cursor: default;
}

.Button--rounded {
  border-radius: 1000rem;
}

.Button--text {
  border-color: transparent;
  &:hover {
    background-color: $color-primary-050;
    border-color: transparent;
    box-shadow: none;
  }
}

.Button--small-size {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  height: 1.5rem;
}
.Button--small-size .Button {
  &__icon-wrapper {
    width: calc(
      1.5rem - var(--border-width-default) - var(--border-width-default)
    );
    height: calc(
      1.5rem - var(--border-width-default) - var(--border-width-default)
    );
    svg {
      width: 0.9rem;
      height: 0.9rem;
    }
  }
}

.Button--medium-size {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  height: 2rem;
}
.Button--medium-size .Button {
  &__icon-wrapper {
    width: calc(
      2rem - var(--border-width-default) - var(--border-width-default)
    );
    height: calc(
      2rem - var(--border-width-default) - var(--border-width-default)
    );
    svg {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.Button--large-size {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  height: 2.75rem;
}
.Button--large-size .Button {
  &__icon-wrapper {
    width: calc(
      2.75rem - var(--border-width-default) - var(--border-width-default)
    );
    height: calc(
      2.75rem - var(--border-width-default) - var(--border-width-default)
    );
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.Button--extra-large-size {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  height: 3.5rem;
}
.Button--extra-large-size .Button {
  &__icon-wrapper {
    width: calc(
      3.5rem - var(--border-width-default) - var(--border-width-default)
    );
    height: calc(
      3.5rem - var(--border-width-default) - var(--border-width-default)
    );
    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
