@import 'src/vars';

.Button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: $transition-100;
  color: white;
  background-color: $color-primary;
  cursor: pointer;
}

.Button:hover {
  background-color: $color-primary-400;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}