@import 'src/vars';

.Text {
  display: block;
  color: $color-grey-900;
}

.Text--on-dark {
  color: $color-white;
}

// size
.Text--extra-large-size {
  font-size: 1.25rem;
}
.Text--large-size {
  font-size: 1.1rem;
}

.Text--medium-size {
  font-size: 1rem;
}

.Text--small-size {
  font-size: 0.9rem;
}

.Text--extra-small-size {
  font-size: 0.8rem;
}

.Text--fine-print-size {
  font-size: 0.7rem;
}

// weight
.Text--thin-weight {
  font-weight: 200;
}

.Text--light-weight {
  font-weight: 300;
}

.Text--regular-weight {
  font-weight: 400;
}

.Text--bold-weight {
  font-weight: 600;
}

.Text--no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}