@import 'src/vars';

.BodyText {
  display: block;
  color: $color-neutral-900;
}

// size
.BodyText--large-size {
  font-size: 1.1rem;
}

.BodyText--medium-size {
  font-size: 1rem;
}

.BodyText--small-size {
  font-size: 0.9rem;
}

.BodyText--extra-small-size {
  font-size: 0.8rem;
}

.BodyText--fine-print-size {
  font-size: 0.7rem;
}

// lightness
.BodyText--extra-light-lightness {
  opacity: 0.5;
}

.BodyText--light-lightness {
  opacity: 0.7;
}

.BodyText--medium-lightness {
  opacity: 0.75;
}

.BodyText--dark-lightness {
  opacity: 1;
}

