:root {
  --box-shadow-100-dark: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --box-shadow-100-focus: 0 1px 3px rgba(93, 85, 250, 0.12),
    0 1px 2px rgba(93, 85, 250, 0.24), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-100: 0 0 3px rgba(0, 0, 0, 0.02), 0 1px 3px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.08);

  --box-shadow-200-dark: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-200-focus: 0 3px 6px rgba(93, 85, 250, 0.16),
    0 3px 6px rgba(93, 85, 250, 0.23), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-200: 0 0 6px rgba(0, 0, 0, 0.02665),
    0 3px 6px rgba(0, 0, 0, 0.0533), 0 3px 6px rgba(0, 0, 0, 0.0766);

  --box-shadow-300-dark: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-300-focus: 0 10px 20px rgba(93, 85, 250, 0.19),
    0 6px 6px rgba(93, 85, 250, 0.23), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-300: 0 0 20px rgba(0, 0, 0, 0.03165),
    0 10px 20px rgba(0, 0, 0, 0.0633), 0 6px 6px rgba(0, 0, 0, 0.0766);

  --box-shadow-400-dark: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --box-shadow-400-focus: 0 14px 28px rgba(93, 85, 250, 0.25),
    0 10px 10px rgba(93, 85, 250, 0.22), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-400: 0 0 28px rgba(0, 0, 0, 0.04165),
    0 14px 28px rgba(0, 0, 0, 0.0833), 0 10px 10px rgba(0, 0, 0, 0.0733);

  --box-shadow-500-dark: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  --box-shadow-500-focus: 0 19px 38px rgba(93, 85, 250, 0.3),
    0 15px 12px rgba(93, 85, 250, 0.22), 0 0 0 1px rgba(93, 85, 250, 0.6);
  --box-shadow-500: 0 0 38px rgba(0, 0, 0, 0.05), 0 19px 38px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.0733);
}
