/* prettier-ignore */
:root {
    --text-on-white--color-danger: #cb0012;
    --text-on-white--color-danger--dangerously-subdued: #e4727b;
    --text-on-grey-050--color-danger: #bf0010;
    --text-on-grey-050--color-danger--dangerously-subdued: #d28189;
    --text-on-grey-100--color-danger: #b3000f;
    --text-on-grey-100--color-danger--dangerously-subdued: #bf6b75;
    --text-on-grey-200--color-danger: #9c000d;
    --text-on-grey-200--color-danger--dangerously-subdued: #a3555f;
    --text-on-grey-700--color-danger: #f2a0a7;
    --text-on-grey-700--color-danger--dangerously-subdued: #b87c89;
    --text-on-grey-800--color-danger: #f2a0a7;
    --text-on-grey-800--color-danger--dangerously-subdued: #9f6a79;
    --text-on-grey-900--color-danger: #ff939c;
    --text-on-grey-900--color-danger--subdued: #c37583;
    --text-on-grey-900--color-danger--dangerously-subdued: #8e5c6e;

    --text-on-danger-050--color-danger: #bf0010;
    --text-on-danger-050--color-danger--dangerously-subdued: #d86b75;
    --text-on-danger-100--color-danger: #a8000d;
    --text-on-danger-100--color-danger--dangerously-subdued: #d3545e;
    --text-on-danger-200--color-danger: #780009;
    --text-on-danger-500--color-danger: white;
    --text-on-danger-500--color-danger--dangerously-subdued: #f5b8bd;
    --text-on-danger-600--color-danger: white;
    --text-on-danger-600--color-danger--dangerously-subdued: #de959b;
    --text-on-danger-700--color-danger: white;
    --text-on-danger-700--color-danger--subdued: #daabaf;
    --text-on-danger-700--color-danger--dangerously-subdued: #c67e84;
    --text-on-danger-800--color-danger: #f5eeee;
    --text-on-danger-800--color-danger--subdued: #c3969a;
    --text-on-danger-800--color-danger--dangerously-subdued: #aa6c71;
    --text-on-danger-900--color-danger: #ebd0d3;
    --text-on-danger-900--color-danger--subdued: #ad8185;
    --text-on-danger-900--color-danger--dangerously-subdued: #935f63;

    --text-on-white--color-warning: #b75f00;
    --text-on-white--color-warning--dangerously-subdued: #d4a776;
    --text-on-grey-050--color-warning: #bc6100;
    --text-on-grey-050--color-warning--dangerously-subdued: #d5a36f;
    --text-on-grey-100--color-warning: #a45500;
    --text-on-grey-100--color-warning--dangerously-subdued: #bb8c5b;
    --text-on-grey-200--color-warning: #8d4900;
    --text-on-grey-200--color-warning--dangerously-subdued: #a36729;
    --text-on-grey-700--color-warning: #f7c999;
    --text-on-grey-700--color-warning--dangerously-subdued: #b2957b;
    --text-on-grey-800--color-warning: #ffc991;
    --text-on-grey-800--color-warning--dangerously-subdued: #9c816c;
    --text-on-grey-900--color-warning: #e1b98f;
    --text-on-grey-900--color-warning--subdued: #ba936e;
    --text-on-grey-900--color-warning--dangerously-subdued: #8a6d59;

    --text-on-warning-050--color-warning: #ab5800;
    --text-on-warning-050--color-warning--dangerously-subdued: #d19c65;
    --text-on-warning-100--color-warning: #984f00;
    --text-on-warning-100--color-warning--dangerously-subdued: #d38c41;
    --text-on-warning-200--color-warning: #753d00;
    --text-on-warning-500--color-warning: white;
    --text-on-warning-500--color-warning--dangerously-subdued: #f9d7b3;
    --text-on-warning-600--color-warning: white;
    --text-on-warning-600--color-warning--dangerously-subdued: #e2ba8f;
    --text-on-warning-700--color-warning: white;
    --text-on-warning-700--color-warning--subdued: #d4bfa8;
    --text-on-warning-700--color-warning--dangerously-subdued: #bd9d7a;
    --text-on-warning-800--color-warning: #f4f1ed;
    --text-on-warning-800--color-warning--subdued: #bfaa94;
    --text-on-warning-800--color-warning--dangerously-subdued: #a58869;
    --text-on-warning-900--color-warning: #ebdecf;
    --text-on-warning-900--color-warning--subdued: #ae977f;
    --text-on-warning-900--color-warning--dangerously-subdued: #93795c;

    --text-on-white--color-success: #007204;
    --text-on-white--color-success--dangerously-subdued: #72b275;
    --text-on-grey-050--color-success: #007204;
    --text-on-grey-050--color-success--dangerously-subdued: #7db080;
    --text-on-grey-100--color-success: #006b03;
    --text-on-grey-100--color-success--dangerously-subdued: #679c6b;
    --text-on-grey-200--color-success: #005d03;
    --text-on-grey-200--color-success--dangerously-subdued: #4f8256;
    --text-on-grey-700--color-success: #9ccf9e;
    --text-on-grey-700--color-success--dangerously-subdued: #719e81;
    --text-on-grey-800--color-success: #91da94;
    --text-on-grey-800--color-success--dangerously-subdued: #5e9575;
    --text-on-grey-900--color-success: #9ccf9e;
    --text-on-grey-900--color-success--subdued: #66a378;
    --text-on-grey-900--color-success--dangerously-subdued: #50816b;

    --text-on-success-050--color-success: #006b03;
    --text-on-success-050--color-success--dangerously-subdued: #6ba96d;
    --text-on-success-100--color-success: #005d03;
    --text-on-success-100--color-success--dangerously-subdued: #4aa84f;
    --text-on-success-200--color-success: #004702;
    --text-on-success-500--color-success: white;
    --text-on-success-500--color-success--dangerously-subdued: #b5dbb6;
    --text-on-success-600--color-success: white;
    --text-on-success-600--color-success--dangerously-subdued: #9abc9b;
    --text-on-success-700--color-success: white;
    --text-on-success-700--color-success--subdued: #b1c2b2;
    --text-on-success-700--color-success--dangerously-subdued: #88a289;
    --text-on-success-800--color-success: #eff1ef;
    --text-on-success-800--color-success--subdued: #9eac9e;
    --text-on-success-800--color-success--dangerously-subdued: #778b77;
    --text-on-success-900--color-success: #d1dfd2;
    --text-on-success-900--color-success--subdued: #879988;
    --text-on-success-900--color-success--dangerously-subdued: #687a68;

    --text-on-white--color-primary: #210eff;
    --text-on-white--color-primary--dangerously-subdued: #938bee;
    --text-on-grey-050--color-primary: #210eff;
    --text-on-grey-050--color-primary--dangerously-subdued: #887eff;
    --text-on-grey-100--color-primary: #1500fc;
    --text-on-grey-100--color-primary--dangerously-subdued: #746aff;
    --text-on-grey-200--color-primary: #1100db;
    --text-on-grey-200--color-primary--dangerously-subdued: #5855e8;
    --text-on-grey-700--color-primary: #c0b9ff;
    --text-on-grey-700--color-primary--dangerously-subdued: #908fc7;
    --text-on-grey-800--color-primary: #c0b9ff;
    --text-on-grey-800--color-primary--dangerously-subdued: #8181b9;
    --text-on-grey-900--color-primary: #c2bcfc;
    --text-on-grey-900--color-primary--subdued: #8887bc;
    --text-on-grey-900--color-primary--dangerously-subdued: #6a6aa1;

    --text-on-primary-050--color-primary: #1500fc;
    --text-on-primary-050--color-primary--dangerously-subdued: #8b83e6;
    --text-on-primary-100--color-primary: #1100db;
    --text-on-primary-100--color-primary--dangerously-subdued: #7e76d5;
    --text-on-primary-200--color-primary: #0f00a8;
    --text-on-primary-500--color-primary: white;
    --text-on-primary-500--color-primary--dangerously-subdued: #d1cdfd;
    --text-on-primary-600--color-primary: white;
    --text-on-primary-600--color-primary--dangerously-subdued: #b0aae8;
    --text-on-primary-700--color-primary: white;
    --text-on-primary-700--color-primary--subdued: #bcb8e5;
    --text-on-primary-700--color-primary--dangerously-subdued: #9993d7;
    --text-on-primary-800--color-primary: #f0eff8;
    --text-on-primary-800--color-primary--subdued: #a4a0d3;
    --text-on-primary-800--color-primary--dangerously-subdued: #7f79c2;
    --text-on-primary-900--color-primary: #dbd8ef;
    --text-on-primary-900--color-primary--subdued: #918db9;
    --text-on-primary-900--color-primary--dangerously-subdued: #716ca2;

    --text-on-white--color-grey: #202228;
    --text-on-white--color-grey--subdued: #75767b;
    --text-on-white--color-grey--dangerously-subdued: #959699;
    --text-on-grey-050--color-grey: #1b1d21;
    --text-on-grey-050--color-grey--subdued: #6f7073;
    --text-on-grey-050--color-grey--dangerously-subdued: #8e8f92;
    --text-on-grey-100--color-grey: #16171a;
    --text-on-grey-100--color-grey--dangerously-subdued: #7a7b7f;
    --text-on-grey-200--color-grey: #101114;
    --text-on-grey-200--color-grey--dangerously-subdued: #67696f;
    --text-on-grey-300--color-grey: #0b0b0d;
    --text-on-grey-300--color-grey--dangerously-subdued: #595b63;
    --text-on-grey-400--color-grey: black;
    --text-on-grey-400--color-grey--dangerously-subdued: #41444d;
    --text-on-grey-500--color-grey: white;
    --text-on-grey-500--color-grey--dangerously-subdued: #c9cbd1;
    --text-on-grey-600--color-grey: white;
    --text-on-grey-600--color-grey--subdued: #c8cbd0;
    --text-on-grey-600--color-grey--dangerously-subdued: #a2a5af;
    --text-on-grey-700--color-grey: white;
    --text-on-grey-700--color-grey--subdued: #c1c4ca;
    --text-on-grey-700--color-grey--dangerously-subdued: #9599a4;
    --text-on-grey-800--color-grey: white;
    --text-on-grey-800--color-grey--subdued: #abaeb6;
    --text-on-grey-800--color-grey--dangerously-subdued: #7f838f;
    --text-on-grey-900--color-grey: #f0f1f3;
    --text-on-grey-900--color-grey--subdued: #898d98;
    --text-on-grey-900--color-grey--dangerously-subdued: #696e7c;

}
