@import 'src/vars';

.LabeledValue {
  display: block;
}

.LabeledValue__label {
  font-size: 0.75rem;
  color: $color-grey-400;
}

.LabeledValue__value {
  font-size: 1.5rem;
  color: $color-grey-700;
}

.LabeledValue__value--clickable {
  cursor: pointer;
}

.LabeledValue__prefix {
  opacity: .5;
}

.LabeledValue__suffix {
  opacity: .5;
}