@import '_vars';

.RadioButton {
  display: block;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  &__wrapper-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: $border-radius-300;
  }

  &__input-wrapper {
    width: 1rem;
    height: 1rem;
    border: $pixels-2 solid $color-primary;
    margin-right: 0.5rem;
    border-radius: 100rem;
  }

  &__input {
    display: none;
  }
}

.RadioButton:hover .RadioButton {
  &__wrapper-label {
    background-color: $color-primary-050;
  }
}

.RadioButton:active .RadioButton {
  &__wrapper-label {
    // background-color: $color-primary-050;
    border: $pixels-1 solid $color-primary;
  }
}

.RadioButton--checked .RadioButton {
  &__input-wrapper {
    border: 0.4rem solid $color-primary;
  }
}
