.RadioButton {
  display: inline-block;
  background-color: rgba(255, 0, 0, .2)
}
.RadioButton__wrapper-label {
  display: flex;
  align-items: center;
}
.RadioButton__input-wrapper {
  position: relative;
  width: 1rem;
  height: 1rem;
  border: var(--pixels-2) solid var(--color-primary);
  background-color: var(--color-primary);
  margin-right: .5rem;
}
.RadioButton__input {
  display: none;
}
.RadioButton__faux-input {
  
}