$box-shadow-100-dark: var(--box-shadow-100-dark);
$box-shadow-100-focus: var(--box-shadow-100-focus);
$box-shadow-100: var(--box-shadow-100);
$box-shadow-200-dark: var(--box-shadow-200-dark);
$box-shadow-200-focus: var(--box-shadow-200-focus);
$box-shadow-200: var(--box-shadow-200);
$box-shadow-300-dark: var(--box-shadow-300-dark);
$box-shadow-300-focus: var(--box-shadow-300-focus);
$box-shadow-300: var(--box-shadow-300);
$box-shadow-400-dark: var(--box-shadow-400-dark);
$box-shadow-400-focus: var(--box-shadow-400-focus);
$box-shadow-400: var(--box-shadow-400);
$box-shadow-500-dark: var(--box-shadow-500-dark);
$box-shadow-500-focus: var(--box-shadow-500-focus);
$box-shadow-500: var(--box-shadow-500);
