$pixels-1:var(--pixels-1);
$pixels-2:var(--pixels-2);
$pixels-3:var(--pixels-3);
$pixels-4:var(--pixels-4);
$pixels-5:var(--pixels-5);
$pixels-6:var(--pixels-6);
$pixels-7:var(--pixels-7);
$pixels-8:var(--pixels-8);

$border-width-thin:var(--border-width-thin);
$border-width-default:var(--border-width-default);

$border-radius-100:var(--border-radius-100);
$border-radius-200:var(--border-radius-200);
$border-radius-300:var(--border-radius-300);
$border-radius-400:var(--border-radius-400);
$border-radius-500:var(--border-radius-500);
$border-radius:var(--border-radius);