/* prettier-ignore */
$text-on-white--color-danger:                                 var(--text-on-white--color-danger);
$text-on-white--color-danger--dangerously-subdued:            var(--text-on-white--color-danger--dangerously-subdued);
$text-on-grey-050--color-danger:                              var(--text-on-grey-050--color-danger);
$text-on-grey-050--color-danger--dangerously-subdued:         var(--text-on-grey-050--color-danger--dangerously-subdued);
$text-on-grey-100--color-danger:                              var(--text-on-grey-100--color-danger);
$text-on-grey-100--color-danger--dangerously-subdued:         var(--text-on-grey-100--color-danger--dangerously-subdued);
$text-on-grey-200--color-danger:                              var(--text-on-grey-200--color-danger);
$text-on-grey-200--color-danger--dangerously-subdued:         var(--text-on-grey-200--color-danger--dangerously-subdued);
$text-on-grey-700--color-danger:                              var(--text-on-grey-700--color-danger);
$text-on-grey-700--color-danger--dangerously-subdued:         var(--text-on-grey-700--color-danger--dangerously-subdued);
$text-on-grey-800--color-danger:                              var(--text-on-grey-800--color-danger);
$text-on-grey-800--color-danger--dangerously-subdued:         var(--text-on-grey-800--color-danger--dangerously-subdued);
$text-on-grey-900--color-danger:                              var(--text-on-grey-900--color-danger);
$text-on-grey-900--color-danger--subdued:                     var(--text-on-grey-900--color-danger--subdued);
$text-on-grey-900--color-danger--dangerously-subdued:         var(--text-on-grey-900--color-danger--dangerously-subdued);
$text-on-danger-050--color-danger:                            var(--text-on-danger-050--color-danger);
$text-on-danger-050--color-danger--dangerously-subdued:       var(--text-on-danger-050--color-danger--dangerously-subdued);
$text-on-danger-100--color-danger:                            var(--text-on-danger-100--color-danger);
$text-on-danger-100--color-danger--dangerously-subdued:       var(--text-on-danger-100--color-danger--dangerously-subdued);
$text-on-danger-200--color-danger:                            var(--text-on-danger-200--color-danger);
$text-on-danger-500--color-danger:                            var(--text-on-danger-500--color-danger);
$text-on-danger-500--color-danger--dangerously-subdued:       var(--text-on-danger-500--color-danger--dangerously-subdued);
$text-on-danger-600--color-danger:                            var(--text-on-danger-600--color-danger);
$text-on-danger-600--color-danger--dangerously-subdued:       var(--text-on-danger-600--color-danger--dangerously-subdued);
$text-on-danger-700--color-danger:                            var(--text-on-danger-700--color-danger);
$text-on-danger-700--color-danger--subdued:                   var(--text-on-danger-700--color-danger--subdued);
$text-on-danger-700--color-danger--dangerously-subdued:       var(--text-on-danger-700--color-danger--dangerously-subdued);
$text-on-danger-800--color-danger:                            var(--text-on-danger-800--color-danger);
$text-on-danger-800--color-danger--subdued:                   var(--text-on-danger-800--color-danger--subdued);
$text-on-danger-800--color-danger--dangerously-subdued:       var(--text-on-danger-800--color-danger--dangerously-subdued);
$text-on-danger-900--color-danger:                            var(--text-on-danger-900--color-danger);
$text-on-danger-900--color-danger--subdued:                   var(--text-on-danger-900--color-danger--subdued);
$text-on-danger-900--color-danger--dangerously-subdued:       var(--text-on-danger-900--color-danger--dangerously-subdued);
$text-on-white--color-warning:                                var(--text-on-white--color-warning);
$text-on-white--color-warning--dangerously-subdued:           var(--text-on-white--color-warning--dangerously-subdued);
$text-on-grey-050--color-warning:                             var(--text-on-grey-050--color-warning);
$text-on-grey-050--color-warning--dangerously-subdued:        var(--text-on-grey-050--color-warning--dangerously-subdued);
$text-on-grey-100--color-warning:                             var(--text-on-grey-100--color-warning);
$text-on-grey-100--color-warning--dangerously-subdued:        var(--text-on-grey-100--color-warning--dangerously-subdued);
$text-on-grey-200--color-warning:                             var(--text-on-grey-200--color-warning);
$text-on-grey-200--color-warning--dangerously-subdued:        var(--text-on-grey-200--color-warning--dangerously-subdued);
$text-on-grey-700--color-warning:                             var(--text-on-grey-700--color-warning);
$text-on-grey-700--color-warning--dangerously-subdued:        var(--text-on-grey-700--color-warning--dangerously-subdued);
$text-on-grey-800--color-warning:                             var(--text-on-grey-800--color-warning);
$text-on-grey-800--color-warning--dangerously-subdued:        var(--text-on-grey-800--color-warning--dangerously-subdued);
$text-on-grey-900--color-warning:                             var(--text-on-grey-900--color-warning);
$text-on-grey-900--color-warning--subdued:                    var(--text-on-grey-900--color-warning--subdued);
$text-on-grey-900--color-warning--dangerously-subdued:        var(--text-on-grey-900--color-warning--dangerously-subdued);
$text-on-warning-050--color-warning:                          var(--text-on-warning-050--color-warning);
$text-on-warning-050--color-warning--dangerously-subdued:     var(--text-on-warning-050--color-warning--dangerously-subdued);
$text-on-warning-100--color-warning:                          var(--text-on-warning-100--color-warning);
$text-on-warning-100--color-warning--dangerously-subdued:     var(--text-on-warning-100--color-warning--dangerously-subdued);
$text-on-warning-200--color-warning:                          var(--text-on-warning-200--color-warning);
$text-on-warning-500--color-warning:                          var(--text-on-warning-500--color-warning);
$text-on-warning-500--color-warning--dangerously-subdued:     var(--text-on-warning-500--color-warning--dangerously-subdued);
$text-on-warning-600--color-warning:                          var(--text-on-warning-600--color-warning);
$text-on-warning-600--color-warning--dangerously-subdued:     var(--text-on-warning-600--color-warning--dangerously-subdued);
$text-on-warning-700--color-warning:                          var(--text-on-warning-700--color-warning);
$text-on-warning-700--color-warning--subdued:                 var(--text-on-warning-700--color-warning--subdued);
$text-on-warning-700--color-warning--dangerously-subdued:     var(--text-on-warning-700--color-warning--dangerously-subdued);
$text-on-warning-800--color-warning:                          var(--text-on-warning-800--color-warning);
$text-on-warning-800--color-warning--subdued:                 var(--text-on-warning-800--color-warning--subdued);
$text-on-warning-800--color-warning--dangerously-subdued:     var(--text-on-warning-800--color-warning--dangerously-subdued);
$text-on-warning-900--color-warning:                          var(--text-on-warning-900--color-warning);
$text-on-warning-900--color-warning--subdued:                 var(--text-on-warning-900--color-warning--subdued);
$text-on-warning-900--color-warning--dangerously-subdued:     var(--text-on-warning-900--color-warning--dangerously-subdued);
$text-on-white--color-success:                                var(--text-on-white--color-success);
$text-on-white--color-success--dangerously-subdued:           var(--text-on-white--color-success--dangerously-subdued);
$text-on-grey-050--color-success:                             var(--text-on-grey-050--color-success);
$text-on-grey-050--color-success--dangerously-subdued:        var(--text-on-grey-050--color-success--dangerously-subdued);
$text-on-grey-100--color-success:                             var(--text-on-grey-100--color-success);
$text-on-grey-100--color-success--dangerously-subdued:        var(--text-on-grey-100--color-success--dangerously-subdued);
$text-on-grey-200--color-success:                             var(--text-on-grey-200--color-success);
$text-on-grey-200--color-success--dangerously-subdued:        var(--text-on-grey-200--color-success--dangerously-subdued);
$text-on-grey-700--color-success:                             var(--text-on-grey-700--color-success);
$text-on-grey-700--color-success--dangerously-subdued:        var(--text-on-grey-700--color-success--dangerously-subdued);
$text-on-grey-800--color-success:                             var(--text-on-grey-800--color-success);
$text-on-grey-800--color-success--dangerously-subdued:        var(--text-on-grey-800--color-success--dangerously-subdued);
$text-on-grey-900--color-success:                             var(--text-on-grey-900--color-success);
$text-on-grey-900--color-success--subdued:                    var(--text-on-grey-900--color-success--subdued);
$text-on-grey-900--color-success--dangerously-subdued:        var(--text-on-grey-900--color-success--dangerously-subdued);
$text-on-success-050--color-success:                          var(--text-on-success-050--color-success);
$text-on-success-050--color-success--dangerously-subdued:     var(--text-on-success-050--color-success--dangerously-subdued);
$text-on-success-100--color-success:                          var(--text-on-success-100--color-success);
$text-on-success-100--color-success--dangerously-subdued:     var(--text-on-success-100--color-success--dangerously-subdued);
$text-on-success-200--color-success:                          var(--text-on-success-200--color-success);
$text-on-success-500--color-success:                          var(--text-on-success-500--color-success);
$text-on-success-500--color-success--dangerously-subdued:     var(--text-on-success-500--color-success--dangerously-subdued);
$text-on-success-600--color-success:                          var(--text-on-success-600--color-success);
$text-on-success-600--color-success--dangerously-subdued:     var(--text-on-success-600--color-success--dangerously-subdued);
$text-on-success-700--color-success:                          var(--text-on-success-700--color-success);
$text-on-success-700--color-success--subdued:                 var(--text-on-success-700--color-success--subdued);
$text-on-success-700--color-success--dangerously-subdued:     var(--text-on-success-700--color-success--dangerously-subdued);
$text-on-success-800--color-success:                          var(--text-on-success-800--color-success);
$text-on-success-800--color-success--subdued:                 var(--text-on-success-800--color-success--subdued);
$text-on-success-800--color-success--dangerously-subdued:     var(--text-on-success-800--color-success--dangerously-subdued);
$text-on-success-900--color-success:                          var(--text-on-success-900--color-success);
$text-on-success-900--color-success--subdued:                 var(--text-on-success-900--color-success--subdued);
$text-on-success-900--color-success--dangerously-subdued:     var(--text-on-success-900--color-success--dangerously-subdued);
$text-on-white--color-primary:                                var(--text-on-white--color-primary);
$text-on-white--color-primary--dangerously-subdued:           var(--text-on-white--color-primary--dangerously-subdued);
$text-on-grey-050--color-primary:                             var(--text-on-grey-050--color-primary);
$text-on-grey-050--color-primary--dangerously-subdued:        var(--text-on-grey-050--color-primary--dangerously-subdued);
$text-on-grey-100--color-primary:                             var(--text-on-grey-100--color-primary);
$text-on-grey-100--color-primary--dangerously-subdued:        var(--text-on-grey-100--color-primary--dangerously-subdued);
$text-on-grey-200--color-primary:                             var(--text-on-grey-200--color-primary);
$text-on-grey-200--color-primary--dangerously-subdued:        var(--text-on-grey-200--color-primary--dangerously-subdued);
$text-on-grey-700--color-primary:                             var(--text-on-grey-700--color-primary);
$text-on-grey-700--color-primary--dangerously-subdued:        var(--text-on-grey-700--color-primary--dangerously-subdued);
$text-on-grey-800--color-primary:                             var(--text-on-grey-800--color-primary);
$text-on-grey-800--color-primary--dangerously-subdued:        var(--text-on-grey-800--color-primary--dangerously-subdued);
$text-on-grey-900--color-primary:                             var(--text-on-grey-900--color-primary);
$text-on-grey-900--color-primary--subdued:                    var(--text-on-grey-900--color-primary--subdued);
$text-on-grey-900--color-primary--dangerously-subdued:        var(--text-on-grey-900--color-primary--dangerously-subdued);
$text-on-primary-050--color-primary:                          var(--text-on-primary-050--color-primary);
$text-on-primary-050--color-primary--dangerously-subdued:     var(--text-on-primary-050--color-primary--dangerously-subdued);
$text-on-primary-100--color-primary:                          var(--text-on-primary-100--color-primary);
$text-on-primary-100--color-primary--dangerously-subdued:     var(--text-on-primary-100--color-primary--dangerously-subdued);
$text-on-primary-200--color-primary:                          var(--text-on-primary-200--color-primary);
$text-on-primary-500--color-primary:                          var(--text-on-primary-500--color-primary);
$text-on-primary-500--color-primary--dangerously-subdued:     var(--text-on-primary-500--color-primary--dangerously-subdued);
$text-on-primary-600--color-primary:                          var(--text-on-primary-600--color-primary);
$text-on-primary-600--color-primary--dangerously-subdued:     var(--text-on-primary-600--color-primary--dangerously-subdued);
$text-on-primary-700--color-primary:                          var(--text-on-primary-700--color-primary);
$text-on-primary-700--color-primary--subdued:                 var(--text-on-primary-700--color-primary--subdued);
$text-on-primary-700--color-primary--dangerously-subdued:     var(--text-on-primary-700--color-primary--dangerously-subdued);
$text-on-primary-800--color-primary:                          var(--text-on-primary-800--color-primary);
$text-on-primary-800--color-primary--subdued:                 var(--text-on-primary-800--color-primary--subdued);
$text-on-primary-800--color-primary--dangerously-subdued:     var(--text-on-primary-800--color-primary--dangerously-subdued);
$text-on-primary-900--color-primary:                          var(--text-on-primary-900--color-primary);
$text-on-primary-900--color-primary--subdued:                 var(--text-on-primary-900--color-primary--subdued);
$text-on-primary-900--color-primary--dangerously-subdued:     var(--text-on-primary-900--color-primary--dangerously-subdued);
$text-on-white--color-grey:                                   var(--text-on-white--color-grey);
$text-on-white--color-grey--subdued:                          var(--text-on-white--color-grey--subdued);
$text-on-white--color-grey--dangerously-subdued:              var(--text-on-white--color-grey--dangerously-subdued);
$text-on-grey-050--color-grey:                                var(--text-on-grey-050--color-grey);
$text-on-grey-050--color-grey--subdued:                       var(--text-on-grey-050--color-grey--subdued);
$text-on-grey-050--color-grey--dangerously-subdued:           var(--text-on-grey-050--color-grey--dangerously-subdued);
$text-on-grey-100--color-grey:                                var(--text-on-grey-100--color-grey);
$text-on-grey-100--color-grey--dangerously-subdued:           var(--text-on-grey-100--color-grey--dangerously-subdued);
$text-on-grey-200--color-grey:                                var(--text-on-grey-200--color-grey);
$text-on-grey-200--color-grey--dangerously-subdued:           var(--text-on-grey-200--color-grey--dangerously-subdued);
$text-on-grey-300--color-grey:                                var(--text-on-grey-300--color-grey);
$text-on-grey-300--color-grey--dangerously-subdued:           var(--text-on-grey-300--color-grey--dangerously-subdued);
$text-on-grey-400--color-grey:                                var(--text-on-grey-400--color-grey);
$text-on-grey-400--color-grey--dangerously-subdued:           var(--text-on-grey-400--color-grey--dangerously-subdued);
$text-on-grey-500--color-grey:                                var(--text-on-grey-500--color-grey);
$text-on-grey-500--color-grey--dangerously-subdued:           var(--text-on-grey-500--color-grey--dangerously-subdued);
$text-on-grey-600--color-grey:                                var(--text-on-grey-600--color-grey);
$text-on-grey-600--color-grey--subdued:                       var(--text-on-grey-600--color-grey--subdued);
$text-on-grey-600--color-grey--dangerously-subdued:           var(--text-on-grey-600--color-grey--dangerously-subdued);
$text-on-grey-700--color-grey:                                var(--text-on-grey-700--color-grey);
$text-on-grey-700--color-grey--subdued:                       var(--text-on-grey-700--color-grey--subdued);
$text-on-grey-700--color-grey--dangerously-subdued:           var(--text-on-grey-700--color-grey--dangerously-subdued);
$text-on-grey-800--color-grey:                                var(--text-on-grey-800--color-grey);
$text-on-grey-800--color-grey--subdued:                       var(--text-on-grey-800--color-grey--subdued);
$text-on-grey-800--color-grey--dangerously-subdued:           var(--text-on-grey-800--color-grey--dangerously-subdued);
$text-on-grey-900--color-grey:                                var(--text-on-grey-900--color-grey);
$text-on-grey-900--color-grey--subdued:                       var(--text-on-grey-900--color-grey--subdued);
$text-on-grey-900--color-grey--dangerously-subdued:           var(--text-on-grey-900--color-grey--dangerously-subdued);