/* prettier-ignore */
$text-color-danger-on-grey-050:                              var(--text-color-danger-on-grey-050);
$text-color-danger-on-grey-050--dangerously-subdued:         var(--text-color-danger-on-grey-050--dangerously-subdued);
$text-color-danger-on-grey-100:                              var(--text-color-danger-on-grey-100);
$text-color-danger-on-grey-100--dangerously-subdued:         var(--text-color-danger-on-grey-100--dangerously-subdued);
$text-color-danger-on-grey-200:                              var(--text-color-danger-on-grey-200);
$text-color-danger-on-grey-200--dangerously-subdued:         var(--text-color-danger-on-grey-200--dangerously-subdued);
$text-color-danger-on-grey-700:                              var(--text-color-danger-on-grey-700);
$text-color-danger-on-grey-700--dangerously-subdued:         var(--text-color-danger-on-grey-700--dangerously-subdued);
$text-color-danger-on-grey-800:                              var(--text-color-danger-on-grey-800);
$text-color-danger-on-grey-800--dangerously-subdued:         var(--text-color-danger-on-grey-800--dangerously-subdued);
$text-color-danger-on-grey-900:                              var(--text-color-danger-on-grey-900);
$text-color-danger-on-grey-900--subdued:                     var(--text-color-danger-on-grey-900--subdued);
$text-color-danger-on-grey-900--dangerously-subdued:         var(--text-color-danger-on-grey-900--dangerously-subdued);
                                                                
$text-color-danger-on-white:                                 var(--text-color-danger-on-white);
$text-color-danger-on-white--dangerously-subdued:            var(--text-color-danger-on-white--dangerously-subdued);
$text-color-danger-on-danger-050:                            var(--text-color-danger-on-danger-050);
$text-color-danger-on-danger-050--dangerously-subdued:       var(--text-color-danger-on-danger-050--dangerously-subdued);
$text-color-danger-on-danger-100:                            var(--text-color-danger-on-danger-100);
$text-color-danger-on-danger-100--dangerously-subdued:       var(--text-color-danger-on-danger-100--dangerously-subdued);
$text-color-danger-on-danger-200:                            var(--text-color-danger-on-danger-200);
$text-color-danger-on-danger-500:                            var(--text-color-danger-on-danger-500);
$text-color-danger-on-danger-500--dangerously-subdued:       var(--text-color-danger-on-danger-500--dangerously-subdued);
$text-color-danger-on-danger-600:                            var(--text-color-danger-on-danger-600);
$text-color-danger-on-danger-600--dangerously-subdued:       var(--text-color-danger-on-danger-600--dangerously-subdued);
$text-color-danger-on-danger-700:                            var(--text-color-danger-on-danger-700);
$text-color-danger-on-danger-700--subdued:                   var(--text-color-danger-on-danger-700--subdued);
$text-color-danger-on-danger-700--dangerously-subdued:       var(--text-color-danger-on-danger-700--dangerously-subdued);
$text-color-danger-on-danger-800:                            var(--text-color-danger-on-danger-800);
$text-color-danger-on-danger-800--subdued:                   var(--text-color-danger-on-danger-800--subdued);
$text-color-danger-on-danger-800--dangerously-subdued:       var(--text-color-danger-on-danger-800--dangerously-subdued);
$text-color-danger-on-danger-900:                            var(--text-color-danger-on-danger-900);
$text-color-danger-on-danger-900--subdued:                   var(--text-color-danger-on-danger-900--subdued);
$text-color-danger-on-danger-900--dangerously-subdued:       var(--text-color-danger-on-danger-900--dangerously-subdued);
                                                                
$text-color-warning-on-grey-050:                             var(--text-color-warning-on-grey-050);
$text-color-warning-on-grey-050--dangerously-subdued:        var(--text-color-warning-on-grey-050--dangerously-subdued);
$text-color-warning-on-grey-100:                             var(--text-color-warning-on-grey-100);
$text-color-warning-on-grey-100--dangerously-subdued:        var(--text-color-warning-on-grey-100--dangerously-subdued);
$text-color-warning-on-grey-200:                             var(--text-color-warning-on-grey-200);
$text-color-warning-on-grey-200--dangerously-subdued:        var(--text-color-warning-on-grey-200--dangerously-subdued);
$text-color-warning-on-grey-700:                             var(--text-color-warning-on-grey-700);
$text-color-warning-on-grey-700--dangerously-subdued:        var(--text-color-warning-on-grey-700--dangerously-subdued);
$text-color-warning-on-grey-800:                             var(--text-color-warning-on-grey-800);
$text-color-warning-on-grey-800--dangerously-subdued:        var(--text-color-warning-on-grey-800--dangerously-subdued);
$text-color-warning-on-grey-900:                             var(--text-color-warning-on-grey-900);
$text-color-warning-on-grey-900--subdued:                    var(--text-color-warning-on-grey-900--subdued);
$text-color-warning-on-grey-900--dangerously-subdued:        var(--text-color-warning-on-grey-900--dangerously-subdued);
                                                                
$text-color-warning-on-white:                                var(--text-color-warning-on-white);
$text-color-warning-on-white--dangerously-subdued:           var(--text-color-warning-on-white--dangerously-subdued);
$text-color-warning-on-warning-050:                          var(--text-color-warning-on-warning-050);
$text-color-warning-on-warning-050--dangerously-subdued:     var(--text-color-warning-on-warning-050--dangerously-subdued);
$text-color-warning-on-warning-100:                          var(--text-color-warning-on-warning-100);
$text-color-warning-on-warning-100--dangerously-subdued:     var(--text-color-warning-on-warning-100--dangerously-subdued);
$text-color-warning-on-warning-200:                          var(--text-color-warning-on-warning-200);
$text-color-warning-on-warning-500:                          var(--text-color-warning-on-warning-500);
$text-color-warning-on-warning-500--dangerously-subdued:     var(--text-color-warning-on-warning-500--dangerously-subdued);
$text-color-warning-on-warning-600:                          var(--text-color-warning-on-warning-600);
$text-color-warning-on-warning-600--dangerously-subdued:     var(--text-color-warning-on-warning-600--dangerously-subdued);
$text-color-warning-on-warning-700:                          var(--text-color-warning-on-warning-700);
$text-color-warning-on-warning-700--subdued:                 var(--text-color-warning-on-warning-700--subdued);
$text-color-warning-on-warning-700--dangerously-subdued:     var(--text-color-warning-on-warning-700--dangerously-subdued);
$text-color-warning-on-warning-800:                          var(--text-color-warning-on-warning-800);
$text-color-warning-on-warning-800--subdued:                 var(--text-color-warning-on-warning-800--subdued);
$text-color-warning-on-warning-800--dangerously-subdued:     var(--text-color-warning-on-warning-800--dangerously-subdued);
$text-color-warning-on-warning-900:                          var(--text-color-warning-on-warning-900);
$text-color-warning-on-warning-900--subdued:                 var(--text-color-warning-on-warning-900--subdued);
$text-color-warning-on-warning-900--dangerously-subdued:     var(--text-color-warning-on-warning-900--dangerously-subdued);
                                                                
$text-color-success-on-grey-050:                             var(--text-color-success-on-grey-050);
$text-color-success-on-grey-050--dangerously-subdued:        var(--text-color-success-on-grey-050--dangerously-subdued);
$text-color-success-on-grey-100:                             var(--text-color-success-on-grey-100);
$text-color-success-on-grey-100--dangerously-subdued:        var(--text-color-success-on-grey-100--dangerously-subdued);
$text-color-success-on-grey-200:                             var(--text-color-success-on-grey-200);
$text-color-success-on-grey-200--dangerously-subdued:        var(--text-color-success-on-grey-200--dangerously-subdued);
$text-color-success-on-grey-700:                             var(--text-color-success-on-grey-700);
$text-color-success-on-grey-700--dangerously-subdued:        var(--text-color-success-on-grey-700--dangerously-subdued);
$text-color-success-on-grey-800:                             var(--text-color-success-on-grey-800);
$text-color-success-on-grey-800--dangerously-subdued:        var(--text-color-success-on-grey-800--dangerously-subdued);
$text-color-success-on-grey-900:                             var(--text-color-success-on-grey-900);
$text-color-success-on-grey-900--subdued:                    var(--text-color-success-on-grey-900--subdued);
$text-color-success-on-grey-900--dangerously-subdued:        var(--text-color-success-on-grey-900--dangerously-subdued);
                                                                
$text-color-success-on-white:                                var(--text-color-success-on-white);
$text-color-success-on-white--dangerously-subdued:           var(--text-color-success-on-white--dangerously-subdued);
$text-color-success-on-success-050:                          var(--text-color-success-on-success-050);
$text-color-success-on-success-050--dangerously-subdued:     var(--text-color-success-on-success-050--dangerously-subdued);
$text-color-success-on-success-100:                          var(--text-color-success-on-success-100);
$text-color-success-on-success-100--dangerously-subdued:     var(--text-color-success-on-success-100--dangerously-subdued);
$text-color-success-on-success-200:                          var(--text-color-success-on-success-200);
$text-color-success-on-success-500:                          var(--text-color-success-on-success-500);
$text-color-success-on-success-500--dangerously-subdued:     var(--text-color-success-on-success-500--dangerously-subdued);
$text-color-success-on-success-600:                          var(--text-color-success-on-success-600);
$text-color-success-on-success-600--dangerously-subdued:     var(--text-color-success-on-success-600--dangerously-subdued);
$text-color-success-on-success-700:                          var(--text-color-success-on-success-700);
$text-color-success-on-success-700--subdued:                 var(--text-color-success-on-success-700--subdued);
$text-color-success-on-success-700--dangerously-subdued:     var(--text-color-success-on-success-700--dangerously-subdued);
$text-color-success-on-success-800:                          var(--text-color-success-on-success-800);
$text-color-success-on-success-800--subdued:                 var(--text-color-success-on-success-800--subdued);
$text-color-success-on-success-800--dangerously-subdued:     var(--text-color-success-on-success-800--dangerously-subdued);
$text-color-success-on-success-900:                          var(--text-color-success-on-success-900);
$text-color-success-on-success-900--subdued:                 var(--text-color-success-on-success-900--subdued);
$text-color-success-on-success-900--dangerously-subdued:     var(--text-color-success-on-success-900--dangerously-subdued);
                                                                
$text-color-primary-on-grey-050:                             var(--text-color-primary-on-grey-050);
$text-color-primary-on-grey-050--dangerously-subdued:        var(--text-color-primary-on-grey-050--dangerously-subdued);
$text-color-primary-on-grey-100:                             var(--text-color-primary-on-grey-100);
$text-color-primary-on-grey-100--dangerously-subdued:        var(--text-color-primary-on-grey-100--dangerously-subdued);
$text-color-primary-on-grey-200:                             var(--text-color-primary-on-grey-200);
$text-color-primary-on-grey-200--dangerously-subdued:        var(--text-color-primary-on-grey-200--dangerously-subdued);
$text-color-primary-on-grey-700:                             var(--text-color-primary-on-grey-700);
$text-color-primary-on-grey-700--dangerously-subdued:        var(--text-color-primary-on-grey-700--dangerously-subdued);
$text-color-primary-on-grey-800:                             var(--text-color-primary-on-grey-800);
$text-color-primary-on-grey-800--dangerously-subdued:        var(--text-color-primary-on-grey-800--dangerously-subdued);
$text-color-primary-on-grey-900:                             var(--text-color-primary-on-grey-900);
$text-color-primary-on-grey-900--subdued:                    var(--text-color-primary-on-grey-900--subdued);
$text-color-primary-on-grey-900--dangerously-subdued:        var(--text-color-primary-on-grey-900--dangerously-subdued);
                                                                
$text-color-primary-on-white:                                var(--text-color-primary-on-white);
$text-color-primary-on-white--dangerously-subdued:           var(--text-color-primary-on-white--dangerously-subdued);
$text-color-primary-on-primary-050:                          var(--text-color-primary-on-primary-050);
$text-color-primary-on-primary-050--dangerously-subdued:     var(--text-color-primary-on-primary-050--dangerously-subdued);
$text-color-primary-on-primary-100:                          var(--text-color-primary-on-primary-100);
$text-color-primary-on-primary-100--dangerously-subdued:     var(--text-color-primary-on-primary-100--dangerously-subdued);
$text-color-primary-on-primary-200:                          var(--text-color-primary-on-primary-200);
$text-color-primary-on-primary-500:                          var(--text-color-primary-on-primary-500);
$text-color-primary-on-primary-500--dangerously-subdued:     var(--text-color-primary-on-primary-500--dangerously-subdued);
$text-color-primary-on-primary-600:                          var(--text-color-primary-on-primary-600);
$text-color-primary-on-primary-600--dangerously-subdued:     var(--text-color-primary-on-primary-600--dangerously-subdued);
$text-color-primary-on-primary-700:                          var(--text-color-primary-on-primary-700);
$text-color-primary-on-primary-700--subdued:                 var(--text-color-primary-on-primary-700--subdued);
$text-color-primary-on-primary-700--dangerously-subdued:     var(--text-color-primary-on-primary-700--dangerously-subdued);
$text-color-primary-on-primary-800:                          var(--text-color-primary-on-primary-800);
$text-color-primary-on-primary-800--subdued:                 var(--text-color-primary-on-primary-800--subdued);
$text-color-primary-on-primary-800--dangerously-subdued:     var(--text-color-primary-on-primary-800--dangerously-subdued);
$text-color-primary-on-primary-900:                          var(--text-color-primary-on-primary-900);
$text-color-primary-on-primary-900--subdued:                 var(--text-color-primary-on-primary-900--subdued);
$text-color-primary-on-primary-900--dangerously-subdued:     var(--text-color-primary-on-primary-900--dangerously-subdued);
                                                                
$text-color-grey-on-white:                                   var(--text-color-grey-on-white);
$text-color-grey-on-white--subdued:                          var(--text-color-grey-on-white--subdued);
$text-color-grey-on-white--dangerously-subdued:              var(--text-color-grey-on-white--dangerously-subdued);
$text-color-grey-on-grey-050:                                var(--text-color-grey-on-grey-050);
$text-color-grey-on-grey-050--subdued:                       var(--text-color-grey-on-grey-050--subdued);
$text-color-grey-on-grey-050--dangerously-subdued:           var(--text-color-grey-on-grey-050--dangerously-subdued);
$text-color-grey-on-grey-100:                                var(--text-color-grey-on-grey-100);
$text-color-grey-on-grey-100--dangerously-subdued:           var(--text-color-grey-on-grey-100--dangerously-subdued);
$text-color-grey-on-grey-200:                                var(--text-color-grey-on-grey-200);
$text-color-grey-on-grey-200--dangerously-subdued:           var(--text-color-grey-on-grey-200--dangerously-subdued);
$text-color-grey-on-grey-300:                                var(--text-color-grey-on-grey-300);
$text-color-grey-on-grey-300--dangerously-subdued:           var(--text-color-grey-on-grey-300--dangerously-subdued);
$text-color-grey-on-grey-400:                                var(--text-color-grey-on-grey-400);
$text-color-grey-on-grey-400--dangerously-subdued:           var(--text-color-grey-on-grey-400--dangerously-subdued);
$text-color-grey-on-grey-500:                                var(--text-color-grey-on-grey-500);
$text-color-grey-on-grey-500--dangerously-subdued:           var(--text-color-grey-on-grey-500--dangerously-subdued);
$text-color-grey-on-grey-600:                                var(--text-color-grey-on-grey-600);
$text-color-grey-on-grey-600--subdued:                       var(--text-color-grey-on-grey-600--subdued);
$text-color-grey-on-grey-600--dangerously-subdued:           var(--text-color-grey-on-grey-600--dangerously-subdued);
$text-color-grey-on-grey-700:                                var(--text-color-grey-on-grey-700);
$text-color-grey-on-grey-700--subdued:                       var(--text-color-grey-on-grey-700--subdued);
$text-color-grey-on-grey-700--dangerously-subdued:           var(--text-color-grey-on-grey-700--dangerously-subdued);
$text-color-grey-on-grey-800:                                var(--text-color-grey-on-grey-800);
$text-color-grey-on-grey-800--subdued:                       var(--text-color-grey-on-grey-800--subdued);
$text-color-grey-on-grey-800--dangerously-subdued:           var(--text-color-grey-on-grey-800--dangerously-subdued);
$text-color-grey-on-grey-900:                                var(--text-color-grey-on-grey-900);
$text-color-grey-on-grey-900--subdued:                       var(--text-color-grey-on-grey-900--subdued);
$text-color-grey-on-grey-900--dangerously-subdued:           var(--text-color-grey-on-grey-900--dangerously-subdued);