.light-theme {
  color: red;

  //
  // white
  $color-white-050: #0b0e16;
  $color-white-100: #1b2236;
  $color-white-200: #30374b;
  $color-white-300: #41485c;
  $color-white-400: #596073;
  $color-white-500: #717891;
  $color-white-600: #9298aa;
  $color-white-700: #abafbc;
  $color-white-800: #c4c7cf;
  $color-white-900: #dbdde1;

  --color-white-050: #{$color-white-050};
  --color-white-100: #{$color-white-100};
  --color-white-200: #{$color-white-200};
  --color-white-300: #{$color-white-300};
  --color-white-400: #{$color-white-400};
  --color-white-500: #{$color-white-500};
  --color-white-600: #{$color-white-600};
  --color-white-700: #{$color-white-700};
  --color-white-800: #{$color-white-800};
  --color-white-900: #{$color-white-900};

  //
  // grey
  $color-grey-050: #f3f4f5;
  $color-grey-100: #dcdee3;
  $color-grey-200: #bfc2cb;
  $color-grey-300: #a6abb8;
  $color-grey-400: #868ba0;
  $color-grey-500: #6c7285;
  $color-grey-600: #505669;
  $color-grey-700: #3e4559;
  $color-grey-800: #2d3448;
  $color-grey-900: #1d2438;

  --color-grey-050: #{$color-grey-050};
  --color-grey-100: #{$color-grey-100};
  --color-grey-200: #{$color-grey-200};
  --color-grey-300: #{$color-grey-300};
  --color-grey-400: #{$color-grey-400};
  --color-grey-500: #{$color-grey-500};
  --color-grey-600: #{$color-grey-600};
  --color-grey-700: #{$color-grey-700};
  --color-grey-800: #{$color-grey-800};
  --color-grey-900: #{$color-grey-900};

  //
  // primary
  $color-primary-050: #f3f3fc;
  $color-primary-100: #dedbfe;
  $color-primary-200: #c1bbfd;
  $color-primary-300: #a6a1fb;
  $color-primary-400: #837ef6;
  $color-primary-500: #665af8;
  $color-primary-600: #4840cb;
  $color-primary-700: #352faf;
  $color-primary-800: #241c96;
  $color-primary-900: #161963;

  --color-primary-050: #{$color-primary-050};
  --color-primary-100: #{$color-primary-100};
  --color-primary-200: #{$color-primary-200};
  --color-primary-300: #{$color-primary-300};
  --color-primary-400: #{$color-primary-400};
  --color-primary-500: #{$color-primary-500};
  --color-primary-600: #{$color-primary-600};
  --color-primary-700: #{$color-primary-700};
  --color-primary-800: #{$color-primary-800};
  --color-primary-900: #{$color-primary-900};
  --color-primary: var(--color-primary-500);

  //
  // success
  $color-success-050: #f0f6f1;
  $color-success-100: #cde5ce;
  $color-success-200: #99cf9b;
  $color-success-300: #76ba77;
  $color-success-400: #439f46;
  $color-success-500: #08860d;
  $color-success-600: #206419;
  $color-success-700: #224e1a;
  $color-success-800: #1e3b18;
  $color-success-900: #172913;

  --color-success-050: #{$color-success-050};
  --color-success-100: #{$color-success-100};
  --color-success-200: #{$color-success-200};
  --color-success-300: #{$color-success-300};
  --color-success-400: #{$color-success-400};
  --color-success-500: #{$color-success-500};
  --color-success-600: #{$color-success-600};
  --color-success-700: #{$color-success-700};
  --color-success-800: #{$color-success-800};
  --color-success-900: #{$color-success-900};
  --color-success: var(--color-success-500);

  //
  // warning
  $color-warning-050: #f7f4ef;
  $color-warning-100: #ecddc3;
  $color-warning-200: #e3bc83;
  $color-warning-300: #dba047;
  $color-warning-400: #c37c1b;
  $color-warning-500: #a56301;
  $color-warning-600: #7c4b02;
  $color-warning-700: #613d0d;
  $color-warning-800: #472f10;
  $color-warning-900: #30210e;

  --color-warning-050: #{$color-warning-050};
  --color-warning-100: #{$color-warning-100};
  --color-warning-200: #{$color-warning-200};
  --color-warning-300: #{$color-warning-300};
  --color-warning-400: #{$color-warning-400};
  --color-warning-500: #{$color-warning-500};
  --color-warning-600: #{$color-warning-600};
  --color-warning-700: #{$color-warning-700};
  --color-warning-800: #{$color-warning-800};
  --color-warning-900: #{$color-warning-900};
  --color-warning: var(--color-warning-500);

  //
  // danger
  $color-danger-050: #fbf2f2;
  $color-danger-100: #fad6d7;
  $color-danger-200: #feacb0;
  $color-danger-300: #ff878b;
  $color-danger-400: #fa4d54;
  $color-danger-500: #dd272b;
  $color-danger-600: #af0a11;
  $color-danger-700: #8f0108;
  $color-danger-800: #66140e;
  $color-danger-900: #45130e;

  --color-danger-050: #{$color-danger-050};
  --color-danger-100: #{$color-danger-100};
  --color-danger-200: #{$color-danger-200};
  --color-danger-300: #{$color-danger-300};
  --color-danger-400: #{$color-danger-400};
  --color-danger-500: #{$color-danger-500};
  --color-danger-600: #{$color-danger-600};
  --color-danger-700: #{$color-danger-700};
  --color-danger-800: #{$color-danger-800};
  --color-danger-900: #{$color-danger-900};
  --color-danger: var(--color-danger-500);

  //
  //
  /**
  TEXT COLORS
  */

  // grey text on white
  $text-color-grey-on-white-base: $color-grey-900;

  // on white
  // regualr
  --text-color-grey-regular-on-white: #{mix(
      $text-color-grey-on-white-base,
      $color-grey-050,
      100%
    )};
  // subdued
  --text-color-grey-subdued-on-white: #{mix(
      $text-color-grey-on-white-base,
      $color-grey-050,
      61%
    )};
  // dangeriously subdued
  --text-color-grey-dangerously-subdued-on-white: #{mix(
      $text-color-grey-on-white-base,
      $color-grey-050,
      46%
    )};

  // grey text on grey
  $text-color-grey-on-grey-050-base: $color-grey-900;
  $text-color-grey-on-grey-100-base: $color-grey-900;
  $text-color-grey-on-grey-200-base: $color-grey-900;
  $text-color-grey-on-grey-300-base: $color-grey-900;
  $text-color-grey-on-grey-400-base: $color-grey-900;
  $text-color-grey-on-grey-500-base: white;
  $text-color-grey-on-grey-600-base: white;
  $text-color-grey-on-grey-700-base: white;
  $text-color-grey-on-grey-800-base: white;
  $text-color-grey-on-grey-900-base: white;

  //
  // on grey 050
  // regular
  --text-color-grey-regular-on-grey-050: #{mix(
      $text-color-grey-on-grey-050-base,
      $color-grey-050,
      100%
    )};
  // subdued
  --text-color-grey-subdued-on-grey-050: #{mix(
      $text-color-grey-on-grey-050-base,
      $color-grey-050,
      63.5%
    )};
  // dangeriously subdued
  --text-color-grey-dangerously-subdued-on-grey-050: #{mix(
      $text-color-grey-on-grey-050-base,
      $color-grey-050,
      50%
    )};

  //
  // on grey 100
  // regular
  --text-color-grey-regular-on-grey-100: #{mix(
      $text-color-grey-on-grey-100-base,
      $color-grey-100,
      100%
    )};
  // subdued
  --text-color-grey-subdued-on-grey-100: #{mix(
      $text-color-grey-on-grey-100-base,
      $color-grey-100,
      66.4%
    )};
  // dangeriously subdued
  --text-color-grey-dangerously-subdued-on-grey-100: #{mix(
      $text-color-grey-on-grey-100-base,
      $color-grey-100,
      52%
    )};

  //
  // on grey 200
  // regular
  --text-color-grey-regular-on-grey-200: #{mix(
      $text-color-grey-on-grey-200-base,
      $color-grey-200,
      100%
    )};
  // subdued
  --text-color-grey-subdued-on-grey-200: #{mix(
      $text-color-grey-on-grey-200-base,
      $color-grey-200,
      66.4%
    )};
  // dangeriously subdued
  --text-color-grey-dangerously-subdued-on-grey-200: #{mix(
      $text-color-grey-on-grey-200-base,
      $color-grey-200,
      52%
    )};

}
