.Swatches {
  &__row {
    display: flex;
  }

  &__row-label {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    text-align: right;
  }

  &__column-label {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1rem;
    flex: 1 1 auto;
  }

  &__swatch {
    height: 4rem;
    flex: 1 1 auto;

    &--color {
      &-primary {
        &-050 {
          background-color: var(--color-primary-050);
        }
        &-100 {
          background-color: var(--color-primary-100);
        }
        &-200 {
          background-color: var(--color-primary-200);
        }
        &-300 {
          background-color: var(--color-primary-300);
        }
        &-400 {
          background-color: var(--color-primary-400);
        }
        &-500 {
          background-color: var(--color-primary-500);
        }
        &-600 {
          background-color: var(--color-primary-600);
        }
        &-700 {
          background-color: var(--color-primary-700);
        }
        &-800 {
          background-color: var(--color-primary-800);
        }
        &-900 {
          background-color: var(--color-primary-900);
        }
      }

      &-secondary {
        &-050 {
          background-color: var(--color-secondary-050);
        }
        &-100 {
          background-color: var(--color-secondary-100);
        }
        &-200 {
          background-color: var(--color-secondary-200);
        }
        &-300 {
          background-color: var(--color-secondary-300);
        }
        &-400 {
          background-color: var(--color-secondary-400);
        }
        &-500 {
          background-color: var(--color-secondary-500);
        }
        &-600 {
          background-color: var(--color-secondary-600);
        }
        &-700 {
          background-color: var(--color-secondary-700);
        }
        &-800 {
          background-color: var(--color-secondary-800);
        }
        &-900 {
          background-color: var(--color-secondary-900);
        }
      }

      &-grey {
        &-050 {
          background-color: var(--color-grey-050);
        }
        &-100 {
          background-color: var(--color-grey-100);
        }
        &-200 {
          background-color: var(--color-grey-200);
        }
        &-300 {
          background-color: var(--color-grey-300);
        }
        &-400 {
          background-color: var(--color-grey-400);
        }
        &-500 {
          background-color: var(--color-grey-500);
        }
        &-600 {
          background-color: var(--color-grey-600);
        }
        &-700 {
          background-color: var(--color-grey-700);
        }
        &-800 {
          background-color: var(--color-grey-800);
        }
        &-900 {
          background-color: var(--color-grey-900);
        }
      }

      &-grey-alpha {
        &-050 {
          background-color: var(--color-grey-alpha-050);
        }
        &-100 {
          background-color: var(--color-grey-alpha-100);
        }
        &-200 {
          background-color: var(--color-grey-alpha-200);
        }
        &-300 {
          background-color: var(--color-grey-alpha-300);
        }
        &-400 {
          background-color: var(--color-grey-alpha-400);
        }
        &-500 {
          background-color: var(--color-grey-alpha-500);
        }
        &-600 {
          background-color: var(--color-grey-alpha-600);
        }
        &-700 {
          background-color: var(--color-grey-alpha-700);
        }
        &-800 {
          background-color: var(--color-grey-alpha-800);
        }
        &-900 {
          background-color: var(--color-grey-alpha-900);
        }
      }

      &-success {
        &-050 {
          background-color: var(--color-success-050);
        }
        &-100 {
          background-color: var(--color-success-100);
        }
        &-200 {
          background-color: var(--color-success-200);
        }
        &-300 {
          background-color: var(--color-success-300);
        }
        &-400 {
          background-color: var(--color-success-400);
        }
        &-500 {
          background-color: var(--color-success-500);
        }
        &-600 {
          background-color: var(--color-success-600);
        }
        &-700 {
          background-color: var(--color-success-700);
        }
        &-800 {
          background-color: var(--color-success-800);
        }
        &-900 {
          background-color: var(--color-success-900);
        }
      }

      &-success {
        &-050 {
          background-color: var(--color-success-050);
        }
        &-100 {
          background-color: var(--color-success-100);
        }
        &-200 {
          background-color: var(--color-success-200);
        }
        &-300 {
          background-color: var(--color-success-300);
        }
        &-400 {
          background-color: var(--color-success-400);
        }
        &-500 {
          background-color: var(--color-success-500);
        }
        &-600 {
          background-color: var(--color-success-600);
        }
        &-700 {
          background-color: var(--color-success-700);
        }
        &-800 {
          background-color: var(--color-success-800);
        }
        &-900 {
          background-color: var(--color-success-900);
        }
      }

      &-warning {
        &-050 {
          background-color: var(--color-warning-050);
        }
        &-100 {
          background-color: var(--color-warning-100);
        }
        &-200 {
          background-color: var(--color-warning-200);
        }
        &-300 {
          background-color: var(--color-warning-300);
        }
        &-400 {
          background-color: var(--color-warning-400);
        }
        &-500 {
          background-color: var(--color-warning-500);
        }
        &-600 {
          background-color: var(--color-warning-600);
        }
        &-700 {
          background-color: var(--color-warning-700);
        }
        &-800 {
          background-color: var(--color-warning-800);
        }
        &-900 {
          background-color: var(--color-warning-900);
        }
      }

      &-danger {
        &-050 {
          background-color: var(--color-danger-050);
        }
        &-100 {
          background-color: var(--color-danger-100);
        }
        &-200 {
          background-color: var(--color-danger-200);
        }
        &-300 {
          background-color: var(--color-danger-300);
        }
        &-400 {
          background-color: var(--color-danger-400);
        }
        &-500 {
          background-color: var(--color-danger-500);
        }
        &-600 {
          background-color: var(--color-danger-600);
        }
        &-700 {
          background-color: var(--color-danger-700);
        }
        &-800 {
          background-color: var(--color-danger-800);
        }
        &-900 {
          background-color: var(--color-danger-900);
        }
      }
    }
  }
}
