
  $pixels-1: var(--pixels-1);
  $pixels-2: var(--pixels-2);
  $pixels-3: var(--pixels-3);
  $pixels-5: var(--pixels-5);
  $pixels-8: var(--pixels-8);

  $color-white: var(--color-white);
  $color-black: var(--color-black);

  $color-primary-050: var(--color-primary-050);
  $color-primary-100: var(--color-primary-100);
  $color-primary-200: var(--color-primary-200);
  $color-primary-300: var(--color-primary-300);
  $color-primary-400: var(--color-primary-400);
  $color-primary-500: var(--color-primary-500);
  $color-primary-600: var(--color-primary-600);
  $color-primary-700: var(--color-primary-700);
  $color-primary-800: var(--color-primary-800);
  $color-primary-900: var(--color-primary-900);
  $color-primary: var(--color-primary);

  $color-secondary-050: var(--color-secondary-050);
  $color-secondary-100: var(--color-secondary-100);
  $color-secondary-200: var(--color-secondary-200);
  $color-secondary-300: var(--color-secondary-300);
  $color-secondary-400: var(--color-secondary-400);
  $color-secondary-500: var(--color-secondary-500);
  $color-secondary-600: var(--color-secondary-600);
  $color-secondary-700: var(--color-secondary-700);
  $color-secondary-800: var(--color-secondary-800);
  $color-secondary-900: var(--color-secondary-900);
  $color-secondary: var(--color-secondary);

  $color-neutral-050: var(--color-neutral-050);
  $color-neutral-100: var(--color-neutral-100);
  $color-neutral-200: var(--color-neutral-200);
  $color-neutral-300: var(--color-neutral-300);
  $color-neutral-400: var(--color-neutral-400);
  $color-neutral-500: var(--color-neutral-500);
  $color-neutral-600: var(--color-neutral-600);
  $color-neutral-700: var(--color-neutral-700);
  $color-neutral-800: var(--color-neutral-800);
  $color-neutral-900: var(--color-neutral-900);
  
  $color-success-050: var(--color-success-050);
  $color-success-100: var(--color-success-100);
  $color-success-200: var(--color-success-200);
  $color-success-300: var(--color-success-300);
  $color-success-400: var(--color-success-400);
  $color-success-500: var(--color-success-500);
  $color-success-600: var(--color-success-600);
  $color-success-700: var(--color-success-700);
  $color-success-800: var(--color-success-800);
  $color-success-900: var(--color-success-900);
  $color-success: var(--color-success);

  $color-warning-050: var(--color-warning-050);
  $color-warning-100: var(--color-warning-100);
  $color-warning-200: var(--color-warning-200);
  $color-warning-300: var(--color-warning-300);
  $color-warning-400: var(--color-warning-400);
  $color-warning-500: var(--color-warning-500);
  $color-warning-600: var(--color-warning-600);
  $color-warning-700: var(--color-warning-700);
  $color-warning-800: var(--color-warning-800);
  $color-warning-900: var(--color-warning-900);
  $color-warning: var(--color-warning);

  $color-error-050: var(--color-error-050);
  $color-error-100: var(--color-error-100);
  $color-error-200: var(--color-error-200);
  $color-error-300: var(--color-error-300);
  $color-error-400: var(--color-error-400);
  $color-error-500: var(--color-error-500);
  $color-error-600: var(--color-error-600);
  $color-error-700: var(--color-error-700);
  $color-error-800: var(--color-error-800);
  $color-error-900: var(--color-error-900);
  $color-error: var(--color-error);

  $spacing-100: var(--spacing-100);
  $spacing-200: var(--spacing-200);
  $spacing-300: var(--spacing-300);
  $spacing-400: var(--spacing-400);
  $spacing-500: var(--spacing-500);
  $spacing-600: var(--spacing-600);
  $spacing-700: var(--spacing-700);
  $spacing-800: var(--spacing-800);
  $spacing-900: var(--spacing-900);

  $border-radius-100: var(--border-radius-100);
  $border-radius-200: var(--border-radius-200);
  $border-radius-300: var(--border-radius-300);
  $border-radius-400: var(--border-radius-400);
  $border-radius-500: var(--border-radius-500);
  $border-radius: var(--border-radius);
  $border-radius-round: var(--border-radius-round);

  $layout-100: var(--layout-100);
  $layout-200: var(--layout-200);
  $layout-300: var(--layout-300);
  $layout-400: var(--layout-400);
  $layout-500: var(--layout-500);
  $layout-600: var(--layout-600);
  $layout-700: var(--layout-700);

  $font-size-50: var(--font-size-50);
  $font-size-100: var(--font-size-100);
  $font-size-150: var(--font-size-150);
  $font-size-200: var(--font-size-200);
  $font-size-250: var(--font-size-250);
  $font-size-300: var(--font-size-300);
  $font-size-350: var(--font-size-350);
  $font-size-400: var(--font-size-400);
  $font-size-450: var(--font-size-450);
  $font-size-500: var(--font-size-500);
  $font-size-550: var(--font-size-550);
  $font-size-600: var(--font-size-600);
  $font-size-650: var(--font-size-650);
  $font-size-700: var(--font-size-700);
  $font-size-750: var(--font-size-750);
  $font-size-800: var(--font-size-800);
  $font-size-850: var(--font-size-850);

  $box-shadow-100-dark: var(--box-shadow-100-dark);
  $box-shadow-100-focus: var(--box-shadow-100-focus);
  $box-shadow-100: var(--box-shadow-100);

  $box-shadow-200-dark: var(--box-shadow-200-dark);
  $box-shadow-200-focus: var(--box-shadow-200-focus);
  $box-shadow-200: var(--box-shadow-200);

  $box-shadow-300-dark: var(--box-shadow-300-dark);
  $box-shadow-300-focus: var(--box-shadow-300-focus);
  $box-shadow-300: var(--box-shadow-300);

  $box-shadow-400-dark: var(--box-shadow-400-dark);
  $box-shadow-400-focus: var(--box-shadow-400-focus);
  $box-shadow-400: var(--box-shadow-400);

  $box-shadow-500-dark: var(--box-shadow-500-dark);
  $box-shadow-500-focus: var(--box-shadow-500-focus);
  $box-shadow-500: var(--box-shadow-500);

  $transition-100: var(--transition-100);
  $transition-100-all: var(--transition-100-all);
  $transition-200: var(--transition-200);
  $transition-200-all: var(--transition-200-all);