@import 'src/_vars';

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__nav {
    display: flex;
    flex-direction: column;
    flex: 0 0 15rem;
    background-color: $color-grey-700;
    padding: 1rem;
  }

  &__nav-link {
    padding: 0.5rem;
    color: $color-white;
    text-decoration: none;
    &:link,
    &:visited {
      color: $color-white;
    }
    &:hover {
      color: $color-grey-100;
    }
  }

  &__showcases {
    flex: 1 0 30rem;
    padding: 2rem;
  }
}
