@import './tokens/tokens.css';
@import './fonts/font-faces.css';

:root {
  font-family: Inter, sans-serif;
}

::selection {
  background: var(--color-primary-100); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-primary-100); /* Gecko Browsers */
}

* {
  box-sizing: border-box;
}