@import './design-tokens/_index.scss';
@import './fonts/font-faces.css';
@import './_vars.scss';


:root {
  font-family: Inter, sans-serif;
  color: $color-grey-700;
}

* {
  box-sizing: border-box;
}
